		<!-- Search form -->
		<form ng-submit="isDeadOrAliveFromQuery()">
			<div class="input-group input-group-lg">
				<input autocorrect="off" class="form-control"  required type="search" ng-model="query" class="form-control" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}"  ng-disabled="busy" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" ng-click="isDeadOrAliveFromQuery()" ng-disabled="busy" ><span class="glyphicon glyphicon-search"></span></button>					
				</span>
			</div>
		</form>
	
		<!-- Busy -->
		<div ng-if="busy">
			<p class="alert alert-info h3">{{ 'SEARCHING_LABEL' | translate }}</p>
		</div>

		<!-- Display errors -->
		<p ng-if="error" class="alert alert-warning h3">{{error | translate}}</p>

		<!-- Suggestions -->
		<div ng-if="suggestions" class="alert alert-info h3" >{{ 'SUGGESTIONS_LABEL' | translate }}
		<div class="list-group">
			<a ng-repeat="suggestion in suggestions"  href="#!/s/{{suggestion}}?ns=1" class="h4 lead list-group-item">{{suggestion}}</a>
		</div>
		</div>


		<!-- Show results -->
		<div ng-if="result && !error" class="jumbotron">
			<div ng-if="result.alive" class="person-alive">
					<div class="person-preface"><span class="person-name"><a href="{{result.url}}">{{result.name}}</a></span> {{ 'IS_VERB' | translate }}</div>
					<div class="person-status">{{ 'ALIVE_LABEL' | translate }}</div>
			</div>

			<div ng-if="! result.alive" class="person-dead">
					<div class="person-preface"><span class="person-name"><a href="{{result.url}}">{{result.name}}</a></span> {{ 'IS_VERB' | translate }}</div>
					<div class="person-status">{{ 'DEAD_LABEL' | translate }}</div>
			</div>
		</div>

