[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

form, .jumbotron ,
.custom-navbar{
	margin-top: 20px;
	clear: both;
}

body>div.container {
	max-width: 768px;
}

.custom-navbar .languages {
	float: right;
	text-align: right;
}

.person-alive, .person-dead {
	text-align: center;
}

.person-preface {
	font-size: 3em;
	overflow: hidden; 
	   text-overflow: ellipsis; 
	   white-space: nowrap;
}

.person-status {
	font-size: 5em;
	text-transform: uppercase;
	font-weight: bold;
}

.person-alive .person-status { 
	color: green;
}

.person-dead .person-status {
	color: red;
}
