<!doctype html>
<html lang="en" ng-app="idoaApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Dead or alive?</title>
 
	<!-- build:css css/is-dead-or-alive.v1.min.css -->
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css">
	<!-- /build -->	
</head>

<body>
	<div class="container">
		<div class="custom-navbar">
		<a href="#!/about">{{ 'ABOUT_LABEL' | translate }}</a>
		
		<div ng-controller="languageCtrl" class="btn-group languages btn-group-xs">
			<button ng-repeat="lang in languages" type="button" class="btn {{lang.active ? 'btn-primary' : 'btn-default'}} " ng-click="setLanguage(lang.name)">{{lang.name}}</button>
		</div>
	</div>
	</div>
	
	<div class="container" ng-view></div>
		
	<!-- build:js js/is-dead-or-alive.v1.min.js -->
	<script src="components/jquery/dist/jquery.js"></script>
	<script src="components/bootstrap/dist/js/bootstrap.js"></script>

	<script src="components/angular/angular.js"></script>
	<script src="components/angular-route/angular-route.js"></script>
	<script src="components/angular-translate/angular-translate.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<!-- /build -->	

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-205839-7',  // 'ldotlopez.github.io');
      {'cookieDomain': 'none'});
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
	</script>

</body>
</html>
